:root{
    box-sizing: border-box;
    font-family: Alegreya;
    --background:#f3f4f6;
    --dashboardcolor:#d9faa0;
    --secondarycolor:#a38057;
}

body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "dashboard header" "dashboard main";
    height: 100vh;
}

.dashboard{
    grid-area:dashboard;
    background-color: var(--dashboardcolor);
    display: grid;
    grid-template-rows: .5fr 2fr 6fr;
    gap:50px;
}

.heading{
    font-size: 32.5px;
}

.navigate, .tools{
    font-size: 22.5px;
}

.heading,.navigate>div,.tools>div{
    display: flex;
    align-items: center;
    gap:10px;
    padding-left: 10px;
    padding-top: 10px;
}

.heading img {
    width: 35px;
    height: 35px;
}

.navigate img, .tools img, [src="./images/magnify.svg"],[src="./images/bell-badge.svg"] {
    width: 25px;
    height: 25px;
}

.header{
    grid-area:header;
    background-color: white;
    box-shadow: 0px 5px 5px 0px #CFD1CF;
    position: relative;
}

.penguin{
    background-color:var(--secondarycolor);
    border:1px solid rgb(0, 0, 0);    
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

.top .penguin{
    width: 40px;
    height:40px;
    justify-self: center;
}

.bottom .penguin {
    width: 50px;
    height:50px;
}

.top{
    display: grid;
    grid-template-columns: 0.5fr 7.5fr 3.5fr 1fr 2.5fr;
    padding-left:30px;
    padding-top:15px;
    align-items: center;
}

input{
    padding: 5px;
    border-radius: 5px;
    border:1px grey solid;
    background-color: var(--background);
}

[src="./images/bell-badge.svg"]{
    justify-self: end;
    padding-right: 10px;
}


.bottom{
    display: grid;
    grid-template-columns: 1fr 7fr 2fr 2fr 2fr; 
    padding-left:30px;
    padding-top:20px;
    padding-right: 60px;
    align-items: center;
}
.headerText,button{
    font-weight: bold;
}

.headerText .hi{
    font-size: 12px;
}

.headerText .name{
    font-size: 25px;
    
}
button{
    background-color: var(--dashboardcolor);
    border-radius: 10px;
    border:0;
    margin: 15px;
    padding:7.5px
}

.main{
    grid-area: main;
    background-color: var(--background);
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows:repeat(2,1fr);
    grid-template-areas: "project announce" "project trending";
    column-gap: 10px;
    padding: 15px;
}

.projects{
    grid-area: project;
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.projects p, .announce p, .trending p{
    font-weight: bold;
    font-size: 20px;
}

.projectGrid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:15px;
}

.projectGrid>*{
    background-color: white;
    border-radius: 5px;
    /*box-shadow:-5px 0px 0px 0px var(--secondarycolor); might need to add as a border*/
    border-left:5px solid var(--secondarycolor);
    box-shadow: 0px 0px 5px 3px #CFD1CF;
    padding: 25px 15px 0px;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

.projectGrid img{
    width: 25px;
    height: 25px;
}

.projectGrid .title{
    font-weight: bold;
    font-size: 18px;
}

.projectGrid .words{
    font-size: 15px;
}

.projectGrid .icons{
    justify-self: end;

}

.announce{
    background-color: aqua;
    grid-area: announce;
}

.trending{
    background-color: greenyellow;
    grid-area: trending;

}